/*** General Styling ***/
body {
  font-family: 'Raleway', sans-serif;
  background-color: rgba(203, 131, 30, 0.1);
  color: #12323C;
  font-size: 1.7em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans Condensed', sans-serif;
}

.mainTitle {
  font-size: 4.7em;
}

.editorTitles {
  margin-top: 0px;
}


/*** Setup Section ***/
.setupStep {
  margin-bottom: 20px;
}

.instructions {
  padding: 20px;
  margin-bottom: 30px;
  font-size: 1.1em;
  background-color: rgba(24, 188, 156, 0.4);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#templateSelector {
  display: none;
}

#datePicker {
  display: none;
}

#uploadTalks {
  display: none;
}

#uploadTalksSelector {
  display: none;
}


/*** Talks Section ***/
#parent {
  display: none;
}

section.category {
  background: #c9c2ce;
  padding: 5px;
}

#talksList {
  max-height: 700px;
  overflow-y: auto;
  background: #a9c2ee;
  border: 1px solid black;
  padding: 5px;
}

div.talk {
  border-radius: 10px;
  background: lightblue;
  border: 1px solid darkgray;
  margin: 5px;
  padding: 5px;
}

div.talk:hover {
  border: 1px solid gray;
  background: #AACAE6;
}

.talkTitle, .authorName {
  font-family: 'Raleway', sans-serif;
}


/*** Schedule Section ***/
#renderedProgram {
  max-height: 700px;
  overflow-y: auto;
  border: 1px solid black;
}

/*div.session {
  padding: 5px;
  background: #a9c2ee;
  margin: 5px;
}*/

div.session-talks {
  min-height: 3em;
  background: #c9c2ce;
  padding: 5px;
}

a.iconLink {
  font-size: 1.3em;
}

p.timeSlot {
  font-size: 0.9em;
  text-align: right;
  margin-top: 25px;
}

.talkTitle {
  font-size: 1.1em;
  font-weight: bold;
  text-align: left;
}

p.trackSwitch {
  padding-top: 10px;
  text-align: center;
}

.mutualEvent {
  background-color: rgba(177, 181, 231, 0.3);
  margin-bottom: 10px;
  text-align: center;
}

p.eventDescr {
  text-align: center;
}

p.mutualEventTalkTitle {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
}

.track1Event {
  background-color: rgba(242, 210, 166, 0.3);
  margin-bottom: 10px;
}

.track2Event {
  background-color: rgba(164, 244, 199, 0.3);
  margin-bottom: 10px;
}

p.dualTrackDescr {
  text-align: left;
}

span.authorName:after {
  content: ',';
}

span.authorName:last-of-type:after {
  content: '';
}
