/*** General Styling ***/
body {
  font-family: 'Raleway', sans-serif;
}

h1, h3, h4 {
  font-family: 'Open Sans Condensed', sans-serif;
}

.mainTitle {
  font-size: 5em;
}


/*** Talks Section ***/
div.category {
  /*min-height: 20px;*/
  background: #c9c2ce;
  padding: 5px;
}

#talks-list {
  max-height: 700px;
  overflow-y: auto;
  background: #a9c2ee;
  border: 1px solid black;
  /*margin-right: 10px;*/
  padding: 5px;
}

div.talk {
  border-radius: 10px;
  background: lightblue;
  border: 1px solid darkgray;
  margin: 5px;
  padding: 5px;
}

div.talk:hover {
  border: 1px solid gray;
  background: #AACAE6;
}


/*** Schedule Section ***/
#program {
  max-height: 700px;
  overflow-y: auto;
  background: #ddeeff;
  /*margin-left: 10px;*/
  padding:5px;
  border: 1px solid black;
}

div.session {
  padding: 5px;
  background: #a9c2ee;
  margin: 5px;
}

div.session-talks {
  /*min-height: 50px;*/
  background: #c9c2ce;
  padding: 5px;
}
