/* Color scheme created by Kay McKelly: http://www.colourlovers.com/palette/4500426/teal_we_meet_again */

/*** General Styling ***/
body {
  font-family: 'Raleway', sans-serif;
/*  font-size: 14px;*/
  background-color: rgba(134, 191, 203, 0.1);
  color: #12323C;
  /* font-size: 1.7em; */
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans Condensed', sans-serif;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

.editorTitles {
  margin-top: 0px;
  /* font-size: 1.7em; */
  font-weight: bold;
}



/*** Nav Styling ***/
/* NOTE: this is all you'll ever need to style if you want to change the navbar. */
.navbar-custom {
  background-color: #1D707A;
  padding-top: 0.4rem;
  padding-bottom: 0.5rem;
}

/* brand */
.navbar-custom .navbar-brand {
  color: #F2F8F9;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.7em;
}

/* text & link color */
.navbar-custom .nav-link, .navbar-custom .navbar-text {
  color: #F2F8F9;
}

/* disable hover on navbar-text */
.navbar-custom .navbar-text:hover {
  background-color: transparent;
}

.nav-link {
  margin-left: 0.8rem;
  padding-left: 0.7rem !important;
  padding-right: 0.7rem !important;
}

.nav-link:hover {
  border-radius: 4px;
  background-color: rgba(24, 188, 156, 0.6);
}
#loginDD img {
    height: 24px;
    width: 24px;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link, .navbar-custom .nav-item:focus .nav-link, .navbar-custom .nav-item:hover .nav-link, .dropdown-item {
  color: #F2F8F9;
}

div.dropdown-menu {
  color: #F2F8F9;
  background-color: #1D707A;
  border: none;
}

.dropdown-item:hover {
  background-color: rgba(24, 188, 156, 0.6);
}
/* END here's all the navbar styling */



/*** Setup Section ***/

#auth-button {
    display:none;
}

.login-alert {
    color: #ff0000;
    font-weight: bold;
}

#newOrExisting {
    display:none;
}

.setupStep {
  margin-bottom: 20px;
}

.instructions {
  padding: 20px;
  margin-bottom: 30px;
  background-color: rgba(24, 188, 156, 0.4);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#uploadmenu, #templateSelector, #datePicker, #uploadTalks, #uploadTalksSelector, #versionPicker, #nameEntry {
  display: none;
}

a.progName {
  color: #1D404A;
}



/*** Talks ***/
#parent {
  display: none;
}

/* These are designed to show a placeholder in an empty draggable area. */
div.category:empty:before {
    color: #12323C;
    content: attr(data-placeholder);
}

/* Leave space so the floating action button doesn't cover the last pencil. */
#talksList > div:last-child {
    margin-bottom: 50px;
}

/* Floating action button */
label#newCategoryButton {
    position: absolute;
    bottom: 2%;
    right: 40px;
}

.categoryDiv {
    padding: 10px;
    background-color: rgba(177, 181, 231, 0.3);
    margin-bottom:5px;
}

.categoryTitle {
    /* font-size: 1.5em; */
}

div.category {
    padding: 3px;
    min-height: 3em;
    background-color: rgba(29, 112, 122, 0.4);
}

div.talk {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

#talksList {
    max-height: 80vh;
    overflow-y: auto;
    padding: 5px;
    border: 1px solid lightgrey;
}

div.talk {
    border-radius: 8px;
    background-color: #78C2CF;
    border: 1px solid #1D707A;
    margin: 5px;
    padding: 8px;
}

div.talk:hover {
    border: 1px solid #1D707A;
    background-color: rgba(120, 194, 207, 0.3);
    /*#14A6B5;*/
}

.authorList, .authorName {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    /* font-size: 0.9em; */
}



/*** Icons ***/
a.editButton {
  visibility: hidden;
}

.session:hover > a.editButton,
.categoryDiv:hover > a.editButton,
.talk:hover > a.editButton {
    visibility: visible;
}

/* You may not delete or edit the Uncategorized category. */
#category-0 > a.editButton {
    visibility: hidden;
}

span.addicon {
  display:inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 10px;
}

span.addicon:hover {
  background-color: #0D2E32;
}

span.addicon img {
  display:inline-block;
  width: 35px;
  height: 35px;
  vertical-align:baseline;
}

img.infoIcon {
    height:1em;
    width:1em;
}

span.editIcon {
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
}

span.talkIcons {
    display: inline-block;
    height: 1em;
    width: 1em;
}

#newCategoryButton {
    float: right; !important;
}



/*** Schedule Section ***/
.session {
  padding: 10px;
}

#renderedProgram {
  max-height: 80vh;
  overflow-y: auto;
  border: 1px solid lightgrey;
}

div.session-talks {
  margin-top: 10px;
  min-height: 3em;
  background-color: rgba(29, 112, 122, 0.4);
  padding: 5px;
}

div.timeSlotDiv {
  min-height: 5em;
}

div.timeSlotDiv a {
  visibility: hidden;
}

div.timeSlotDiv:hover > a {
  visibility: visible;
}

p.timeSlot {
  /* font-size: 0.9em; */
  margin-top: 5px;
}

.talkTitle {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
}

p.trackSwitch {
  padding-top: 10px;
  text-align: center;
}

.mutualEvent {
  background-color: rgba(177, 181, 231, 0.3);
  margin-bottom: 10px;
  text-align: center;
}

p.mutualEventTalkTitle {
  /* font-size: 1.1em; */
  font-weight: bold;
  text-align: center;
}

.track1Event {
  background-color: rgba(242, 210, 166, 0.3);
  margin-bottom: 10px;
}

.track2Event {
  background-color: rgba(164, 244, 199, 0.3);
  margin-bottom: 10px;
}

span.authorName:after {
  content: ', ';
}

span.authorName:last-of-type:after {
  content: '';
}

div.session-talks:empty:before {
    color: #12323C;
    content: attr(data-placeholder);
}


/*** Modals ***/
.modal-body label {
    font-weight: 600;
}

#warnBoxTitle {
  background-color: rgba(186, 0, 26, 0.7);
  color: #EDF6F7;
}

.modal-header, #addTalkTitleDiv, #timeEditTitleDiv, #editSessionTitleDiv, #addTimeslotDiv, #uploadTitleDiv {
  background-color: rgba(24, 188, 156, 1);
  color: #EDF6F7;
}

#newAuthorHelp, #newAffiliationHelp {
  /* font-size: 0.8em; */
}

input:invalid {
    border-color: red;
    box-shadow: inset 0 0.0625em 0.125em rgba(0,0,0,.2), 0 0 0.125em rgba(203,0,2,.8);
}

#timeSlotWarning {
    display: none;
}

input#shiftDates {
    text-align: center;
}

div.progress {
  height: 2em;
}



/*** Mystery section ***/
#alertInstr {
  border: 2px solid #78C2CF;
}

#alertInstr button.close {
  font-size: 2em;
  padding-top: 0.3rem !important;
  color: black;
}

#alertInstr button.close:hover {
  color: #78C2CF;
}
